<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">Weather Forecast</h1>
      <div class="input-group-prepend">
        <input type="text" #city class="form-control" placeholder="Enter City" name="city" ngModel>
        <button (click)="searchCity(city.value)" type="button" class="input-group-text">Get Forecast</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="showTable">
  <h2>
    <img src="https://openweathermap.org/img/w/{{imgIcon}}.png" class="forecast-icon" alt="forecast">
    {{weather |titlecase}} in {{cityName}}, {{countryName}}
  </h2>
  <app-city></app-city>
  <br/>
  <app-table></app-table>
</div>
<div *ngIf="showCharts">
  <app-line-chart></app-line-chart>
<br/>
</div>
