<div style="text-align:center">
  <h1>City Details</h1>
</div>
<dl class="row" style="margin-left:150px; background-color:aqua;margin-right:150px">
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-3">{{cityName}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Population</dt>
  <dd class="col-sm-3">{{population}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Coordinates</dt>
  <dd class="col-sm-3">{{coordinates}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather</dt>
  <dd class="col-sm-3">{{weather}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Description</dt>
  <dd class="col-sm-3">{{weatherDesc}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Degree</dt>
  <dd class="col-sm-3">{{windDeg}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Speed</dt>
  <dd class="col-sm-3">{{windSpeed}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Humidity</dt>
  <dd class="col-sm-3">{{humidity}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Pressure</dt>
  <dd class="col-sm-3">{{pressure}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Weather Temperature</dt>
  <dd class="col-sm-3">{{temp}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Sea Level</dt>
  <dd class="col-sm-3">{{seaLevel}}</dd>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3"></dt>
  <dt class="col-sm-3">Ground Level</dt>
  <dd class="col-sm-3">{{groundLevel}}</dd>
  <dt class="col-sm-3"></dt>
</dl>
